In [58]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

In [59]:
data = pd.read_csv("aac_intakes_outcomes_address_income.csv", encoding="utf-8", low_memory=False)

In [60]:
data.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days,age_upon_intake_number,age_upon_intake_lentime,found_location_street,zipcode,income
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194,10,years,Colony Creek And Hunters Trace,78758,"47,244"
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,Friday,10,2.0,1 days 06:14:00.000000000,1.259722,7,years,8700 Research Blvd,78757,"62,992"
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,Friday,14,3.0,1 days 02:44:00.000000000,1.113889,6,years,8700 Research,78757,"62,992"
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139,10,years,NaN,NaN,NaN
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444,16,years,12034 Research Blvd,78759,"74,379"

In [61]:
#https://factfinder.census.gov/rest/communityFactsNav/nav?N=0&_t=1535644344663&log=t&searchTerm=78758
population_url = "https://factfinder.census.gov/rest/communityFactsNav/nav?spotlightId=POPULATION&searchTerm="
def getPOPULATIONbyZipCode(zipcode):
    try:
        response = requests.get(population_url + zipcode)
        if response.status_code == 200:
            result = response.json()
            return result["CFMetaData"]["measuresAndLinks"]["measure"]["value"]
        else:
            return None
    except:
        return None

In [62]:
zipcode_population = pd.DataFrame(data["zipcode"].unique(), columns=["zipcode"])
zipcode_population["population"] = None
zipcode_population.head()

  zipcode population
0   78758       None
1   78757       None
2     NaN       None
3   78759       None
4   78751       None

In [63]:
getPOPULATIONbyZipCode("78733")

'8,762'

In [64]:
for index, row in zipcode_population.iterrows():
    zipcode = row["zipcode"]
    if zipcode != None:
        population = getPOPULATIONbyZipCode(zipcode)
        if population != "Data are not available for this topic and the selected geography":
            zipcode_population.loc[index, "population"] = population
            print(index, zipcode, population)
        else:
            zipcode_population.loc[index, "population"] = None
            print(index, zipcode, None)
    else:
        zipcode_population.loc[index, "population"] = None
        print(index, zipcode, None)
print("Done")

0 78758 44,072
1 78757 21,310
2 nan None
3 78759 38,891
4 78751 14,385
5 78739 16,792
6 78749 34,449
7 78744 42,820
8 78702 21,334
9 78735 16,131
10 78728 20,299
11 78617 22,210
12 78723 28,330
13 78727 26,689
14 78753 49,301
15 74051 1,904
16 78752 18,064
17 V6X 308,745,538
18 78722 5,901
19 78704 42,117
20 78750 26,814
21 78733 8,762
22 78621 21,659
23 78747 14,808
24 78748 40,651
25 78745 55,614
26 78705 31,340
27 78730 7,955
28 78731 24,614
29 78741 44,935
30 78660 68,789
31 78652 4,466
32 78746 26,928
33 78641 44,295
34 78721 11,425
35 78756 7,194
36 43065 38,821
37 78701 6,841
38 78724 21,696
39 78703 19,690
40 78729 27,108
41 78738 12,134
42 74058 4,259
43 78653 16,375
44 78736 6,946
45 78754 15,036
46 78712 860
47 78734 17,655
48 78645 9,773
49 78717 22,538
50 72762 35,342
51 78737 12,081
52 08003 30,629
53 10036 24,711
54 65616 24,284
55 78725 6,083
56 78719 1,764
57 78610 23,502
58 78742 820
59 74146 15,498
60 34747 13,692
61 74112 20,684
62 56370 308,745,538
63 75062 44,537
64 60126 46,371
65 50010 29,359
66 74135 20,651
67 78732 14,060
68 75012 308,745,538
69 74016 6,005
70 66067 16,170
71 74075 23,866
72 78615 1,290
73 72632 4,449
74 78726 13,122
75 97520 24,469
76 60153 24,106
77 95060 46,377
78 72761 21,211
79 94553 47,065
80 67337 13,493
81 23111 36,490
82 14847 2,398
83 41001 16,412
84 78613 65,099
85 74008 22,461
86 78666 63,836
87 67335 3,671
88 27713 46,660
89 32218 53,473
90 74015 8,064
91 77904 25,002
92 60554 11,796
93 74103 2,692
94 78634 22,791
95 74105 26,547
96 78664 52,932
97 77437 17,054
98 73129 20,126
99 10175 None
100 54913 17,629
101 78628 23,727
102 74114 15,778
103 78669 8,731
104 44256 62,039
105 78612 11,457
106 78640 42,954
107 28786 20,714
108 68701 30,670
109 78654 17,553
110 74137 25,737
111 67213 21,368
112 76210 39,556
113 72712 40,933
114 67301 13,556
115 89147 49,778
116 75235 17,177
117 37207 34,880
118 78665 35,985
119 76132 24,709
120 33331 23,204
121 74072 1,816
122 73625 554
123 74133 43,414
124 32792 46,914
125 78501 61,219
126 07601 43,010
127 89045 1,505
128 77840 56,171
129 30354 14,857
130 92220 31,638
131 56082 13,597
132 76021 33,673
133 78710 None
134 78209 39,197
135 75007 51,624
136 30607 10,895
137 78772 None
138 19085 8,932
139 78681 50,606
140 78041 44,153
141 74055 38,680
142 78620 14,367
143 77401 17,491
144 76207 10,579
145 79364 8,172
146 48084 14,231
147 78659 2,903
148 78711 None
149 84790 35,770
150 64759 8,244
151 10803 12,435
152 65340 15,937
153 78602 25,160
154 75050 41,041
155 T0H 3B0 308,745,538
156 78642 9,467
157 48451 14,767
158 90048 21,397
159 10028 45,141
160 60639 90,407
161 74021 17,359
162 77457 651
163 72704 21,336
164 63033 43,000
165 97701 58,993
166 64840 2,813
167 37069 18,899
168 05701 20,802
169 66773 866
170 67054 1,167
171 67341 373
172 66030 20,961
173 46225 7,319
174 75149 56,065
175 55379 40,416
176 83646 47,098
177 E4 308,745,538
178 33774 17,712
179 54210 897
180 97214 23,813
181 76014 34,072
182 78714 None
183 62864 24,108
184 20772 42,625
185 07849 9,054
186 78663 746
187 22302 16,485
188 74120 4,940
189 74003 14,249
190 37128 38,966
191 54474 4,019
192 65201 39,417
193 24328 1,726
194 94704 25,592
195 76107 25,917
196 98383 19,727
197 88317 1,751
198 72023 35,026
199 11530 27,273
200 30114 49,774
201 64506 24,030
202 72081 7,798
203 PR5 308,745,538
204 67846 33,696
205 34655 38,464
206 75047 None
207 74126 10,598
208 29676 5,201
209 45385 37,247
210 78263 4,673
211 74136 30,703
212 95608 59,418
213 34203 34,862
214 75010 21,607
215 67042 17,969
216 N7G 3H5 308,745,538
217 46260 32,406
218 10017 16,575
219 02124 47,783
220 10003 56,024
221 78619 3,026
222 67235 11,446
223 33133 31,926
224 66762 24,786
225 67357 13,006
226 29715 24,823
227 46142 30,413
228 78626 25,996
229 15829 1,274
230 64120 369
231 93927 17,547
232 24018 36,432
233 33544 22,800
234 74145 17,402
235 05464 3,008
236 11212 84,500
237 49120 37,122
238 63304 40,336
239 77063 34,299
240 20152 24,946
241 29576 24,446
242 K7L 308,745,538
243 71119 11,562
244 84124 21,295
245 67410 10,141
246 98409 22,989
247 72701 39,782
248 80831 21,993
249 53703 27,958
250 10065 32,270
251 75202 1,666
252 74344 14,412
253 01604 34,677
254 76504 24,268
255 91350 33,348
256 80403 18,211
257 33763 17,887
258 V4K 1V8 308,745,538
259 67207 26,978
260 99540 320
261 48858 50,025
262 83835 19,990
263 06082 44,654
264 74129 18,976
265 14850 63,886
266 62236 12,562
267 98004 27,946
268 10033 53,926
269 74301 11,840
270 72764 50,230
271 73120 34,824
272 53562 23,627
273 87507 45,890
274 37055 27,024
275 10019 42,870
276 64134 21,973
277 77056 18,673
278 67361 1,841
279 07901 22,806
280 66621 643
281 74006 25,750
282 95382 36,176
283 74134 15,083
284 95355 58,311
285 48317 26,610
286 43613 31,635
287 76426 11,302
288 28078 52,133
289 98225 46,172
290 72703 28,261
291 95370 26,803
292 90255 75,066
293 45014 43,917
294 72756 38,455
295 78636 3,749
296 32068 50,815
297 37066 42,758
298 80863 11,754
299 76006 22,639
300 04538 2,080
301 92802 42,709
302 52314 5,865
303 01810 33,201
304 67206 15,186
305 64119 27,341
306 95628 40,196
307 78655 2,739
308 89117 55,416
309 19808 38,442
310 67356 2,834
311 45208 17,614
312 73026 10,437
313 85305 10,822
314 64057 14,141
315 01602 22,819
316 64093 27,608
317 73112 30,943
318 96003 44,461
319 29680 27,285
320 64873 1,072
321 76108 38,227
322 97202 38,762
323 94544 73,026
324 43229 46,347
325 32134 8,084
326 21044 41,704
327 48188 41,025
328 78045 54,713
329 37032 4,493
330 77459 56,274
331 L4M 6M2 308,745,538
332 67052 8,325
333 91945 25,460
334 21215 60,161
335 20850 46,340
336 10940 48,418
337 89122 45,720
338 74119 3,561
339 12473 861
340 30144 52,252
341 74107 19,458
342 74012 57,526
343 33040 32,891
344 92054 40,375
345 64804 37,521
346 66743 4,373
347 78412 36,003
348 46143 48,555
349 74115 22,941
350 81143 672
351 64801 34,753
352 27306 6,176
353 92078 42,906
354 91711 35,705
355 76549 44,490
356 46151 30,921
357 06776 26,889
358 39564 36,952
359 75013 30,347
360 15090 21,202
361 73750 7,025
362 78676 12,602
363 06825 21,123
364 90704 4,090
365 60654 14,875
366 77833 27,492
367 01223 2,314
368 60014 48,550
369 37865 20,912
370 35215 46,951
371 95135 20,120
372 40505 26,040
373 59717 None
374 11803 28,127
375 50124 3,750
376 94595 16,425
377 94513 54,605
378 37922 33,180
379 02188 14,608
380 86336 11,320
381 12134 3,516
382 66160 None
383 37129 49,103
384 59718 27,367
385 77044 30,949
386 85346 4,423
387 70817 31,192
388 60561 23,115
389 89815 13,346
390 29678 21,676
391 64114 23,158
392 76712 23,506
393 21040 24,420
394 66112 11,458
395 3175 308,745,538
396 33701 15,014
397 02466 8,096
398 63670 11,295
399 27205 33,216
400 32506 33,846
401 98610 2,871
402 20724 16,093
403 97015 19,521
404 27406 56,458
405 34285 17,599
406 46259 11,617
407 78778 None
408 19720 59,250
409 93451 3,779
410 77098 13,076
411 74104 12,724
412 10016 54,183
413 74017 28,057
414 53072 23,907
415 77015 53,621
416 23060 33,417
417 29708 25,035
418 78542 63,293
419 07078 13,250
420 27330 37,947
421 73069 23,912
422 64831 5,879
423 67226 17,757
424 35226 31,471
425 90277 35,293
426 61462 11,643
427 97045 51,359
428 95076 82,474
429 76877 4,558
430 52772 5,029
431 76266 13,495
432 L6M 4M2 308,745,538
433 01960 50,944
434 10562 31,796
435 64118 40,191
436 71973 1,424
437 22207 30,920
438 34761 37,500
439 68849 384
440 75247 468
441 V6X 4J7 308,745,538
442 29072 49,566
443 45440 20,734
444 53214 34,725
445 75204 26,279
446 78957 9,067
447 14067 5,040
448 10011 50,984
449 64106 7,701
450 87506 12,580
451 44147 19,480
452 66044 28,417
453 17010 182
454 77003 10,508
455 77702 2,893
456 30341 31,793
457 75058 2,982
458 10705 38,777
459 74029 5,128
460 14221 53,555
461 75219 22,124
462 60660 42,752
463 19081 10,337
464 08318 12,702
465 N1S 308,745,538
466 78249 49,951
467 60605 24,668
468 73132 26,432
469 75428 10,089
470 44115 8,307
471 74128 12,676
472 75254 23,253
473 32214 None
474 32207 33,306
475 21234 69,752
476 64112 8,147
477 92879 46,745
478 89123 56,300
479 40007 166
480 63025 13,854
481 76013 30,680
482 67347 431
483 23801 3,393
484 78774 None
485 80209 21,526
486 78130 59,546
487 74131 2,775
488 78629 11,887
489 75238 30,483
490 19114 30,907
491 95864 22,447
492 72160 10,736
493 95066 14,749
494 65672 9,048
495 74361 16,293
496 76527 4,058
497 71343 7,678
498 78763 None
499 75093 47,187
500 28139 20,111
501 66101 13,220
502 L4J 9A4 308,745,538
503 62048 1,459
504 78233 43,710
505 33426 20,082
506 67332 207
507 15120 18,931
508 30318 49,736
509 85224 42,796
510 74110 14,862
511 64850 24,063
512 77354 30,215
513 49418 27,417
514 31047 11,193
515 74939 1,455
516 98033 34,338
517 68108 14,664
518 64735 13,258
519 91008 1,391
520 11430 184
521 94599 3,021
522 63026 44,124
523 48030 16,422
524 66748 2,750
525 35022 18,888
526 92782 23,032
527 77070 46,017
528 46804 27,245
529 55124 49,084
530 97140 23,474
531 21401 36,012
532 38138 24,045
533 20879 24,360
534 75067 60,982
535 42718 24,312
536 80421 8,042
537 78261 13,513
538 23235 30,165
539 72901 21,591
540 85254 45,801
541 73082 2,980
542 39157 24,645
543 73111 11,781
544 67005 16,535
545 31406 33,965
546 28678 5,226
547 45414 21,055
548 98005 17,714
549 64132 13,810
550 74056 5,720
551 92647 57,245
552 36832 22,071
553 23234 42,989
554 24055 13,674
555 75048 20,328
556 27605 4,495
557 37122 46,463
558 90066 55,277
559 65712 8,494
560 77386 36,407
561 08085 18,737
562 93215 55,659
563 78606 5,205
564 76857 1,791
565 10465 42,230
566 48160 13,785
567 93535 72,046
568 32765 56,349
569 75025 50,926
570 67211 20,644
571 K0K 3G0 308,745,538
572 27615 42,166
573 78401 5,391
574 21158 20,234
575 78650 1,599
576 34238 17,500
577 34221 39,457
578 66757 3,560
579 76543 30,430
580 49435 3,549
581 79201 7,040
582 SN8 1RF 308,745,538
583 74354 18,126
584 91702 59,705
585 10009 61,347
586 11518 10,549
587 43123 58,424
588 83702 22,293
589 75244 13,266
590 20024 11,510
591 92701 53,908
592 74820 30,802
593 91354 28,722
594 76092 26,669
595 77479 74,514
596 40360 6,564
597 94550 46,896
598 78227 46,077
599 21211 17,351
Done

In [65]:
zipcode_population.to_csv("zipcode_population.csv", index=False)

In [67]:
zipcode_income = pd.read_csv("zipcode_population.csv")
zipcode_income.head()

   zipcode population
0    78758     44,072
1    78757     21,310
2    78759     38,891
3    78751     14,385
4    78739     16,792

In [68]:
data_address_population = pd.merge(data, zipcode_population, how="left", left_on="zipcode", right_on="zipcode")
data_address_population.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,intake_hour,intake_number,time_in_shelter,time_in_shelter_days,age_upon_intake_number,age_upon_intake_lentime,found_location_street,zipcode,income,population
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,14,1.0,0 days 14:07:00.000000000,0.588194,10,years,Colony Creek And Hunters Trace,78758,"47,244","44,072"
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,10,2.0,1 days 06:14:00.000000000,1.259722,7,years,8700 Research Blvd,78757,"62,992","21,310"
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,14,3.0,1 days 02:44:00.000000000,1.113889,6,years,8700 Research,78757,"62,992","21,310"
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,15,1.0,4 days 23:17:00.000000000,4.970139,10,years,NaN,NaN,NaN,None
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,9,1.0,0 days 02:52:00.000000000,0.119444,16,years,12034 Research Blvd,78759,"74,379","38,891"

In [69]:
data_address_population.to_csv("aac_intakes_outcomes_address_income.csv", index=False)